<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag("wine-friends.png") %>
    </div>
  </div>
</div>
<div class=container-fluid>
  <%= button_to "Sign Up", signup_path, { method: "get", class: "btn btn-lg btn-outline-primary" } %>
  <%= button_to "Log In", login_path, { method: "get", class: "btn btn-lg btn-outline-primary" } %>
</div>
