<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag("wine-friends.png") %>
    </div>
  </div>
</div>
<div class=container-fluid>
  <button type="button" class="btn btn-lg btn-outline-primary"><%= link_to "Sign Up", signup_path%></button>
  <button type="button" class="btn btn-lg btn-outline-primary"><%= link_to "Log In", login_path %></button>
</div>
