<div class="thumbnail">
  <p>Upcoming Events:</p>
  <img src="https://picsum.photos/400/?random" alt="Avatar">
  <p><strong>Wine & Art Fest</strong></p>
  <p>May to November 2019</p>
  <button class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Info</button>
</div>
<div class="well">
  <p>Sponsored</p>
  <div class="thumbnail">
    <a href="#" data-toggle="modal" data-target="#advertModalOne"><%= image_tag("wine_ad_1.png") %></a>
  </div>
  <p>Thierry and Guy</p>
</div>
<div class="well">
  <p>Sponsored</p>
  <div class="thumbnail">
    <a href="#" data-toggle="modal" data-target="#advertModalTwo"><%= image_tag("wine_ad_2.png") %></a>
  </div>
  <p>Scavi and Ray Prosecco</p>
</div>
