<% if @user.errors.any? %>
  <div id="error_message">
    <div class="alert alert-danger">
      Oops. <%= pluralize(@user.errors.count, "error") %> occurred.
    </div>
    <ul>
      <%= @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
