<% @user %>
<div class="follows">
  <strong id="following" class="follows">
    <%= link_to "#{@user.following.count} following", following_user_path(@user) %>
  </strong>
  <br>
  <strong id="followers" class="follows">
    <%= link_to "#{@user.followers.count} followers", followers_user_path(@user) %>
  </strong>
</div>
<br></br>
