<p>Our editors' favorite wine resources:</p>
  <p><a href="https://winefolly.com/" target="_blank" rel="noopener">Wine Folly</a></p>
  <p><a href="https://www.winespectator.com/" target="_blank" rel="noopener">Wine Spectator</a></p>
  <p><a href="https://en.wikipedia.org/wiki/Wine" target="_blank" rel="noopener">Wikipedia</a></p>
