<% if @user.wines.any? %>
  <h3>Wines (<%= @user.wines.count %>)</h3>
  <%= render 'wines/wine' %>
  <%= will_paginate @wines %>
<% elsif @user == current_user %>
  <h4>You don't have any wines yet. <%= link_to "Create a new journal entry!", new_wine_path %></h4>
<% end %>
