<% provide(:title, "Edit #{@user.name}") %>

<div class="container-fluid center">
  <div class="row">
    <div class="col-sm-12">
      <h1>Edit Your Profile</h1>
      <br></br>
      <%= render 'form' %>

      <div class="profile_pic_edit">
        <%= image_tag @user.picture.url if @user.picture? %>
      </div>
    </div>
  </div>
</div>
<br></br>
