<% provide(:title, "Edit #{@user.name}") %>

<div class="container-fluid center">
  <div class="row">
    <div class="col-sm-12">
      <h1>Edit Your Profile</h1>
      <br></br>
      <%= render 'edit_form' %>

    </div>
  </div>
</div>
<br></br>
