<% provide(:title, 'Sign Up') %>

<div class="container-fluid center">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create a New Account</h1>
      <br></br>
      <%= render 'new_form' %>
    </div>
  </div>
</div>
