@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins & variables */

$navy-blue: #3b5998;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set light gray background color, font */

body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
}

/* navbar styles - set color, format logo, animations for buttons and links */

.navbar {
  background-color: $navy-blue;
  border: 0;
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  .nav li a {
    color: white;
    &:hover {
      background-color: black;
    }
  }
}

.logo {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 30px;
  background-color: $navy-blue;
  color: white;
  padding-top: 4px;
  margin-right: 14px;
}
.navbar-right:hover {
  background-color: black;
}

/* left and right sidebar styles */

.col-sm-2 {
  background-color: #ffffff;
}
.col-sm-3 {
  background-color: #ffffff;
}

.follows a {
  color: gray;
  &:hover {
    text-decoration: none;
    color: $navy-blue;
  }
}

strong {
  display: block;
}

/* center column styles */

.well {
  background-color: #ffffff;
}


/* set faded blue background color, white text and some padding */

footer {
  background-color: #8b9dc3;
  color: white;
  padding: 15px;
  text-align: center;
  .glyphicon-heart {
    color: red;
    font-size: 14px;
    padding-top: 10px;
  }
}

/* miscellaneous */

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin-top: 56px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}
