
/* mixins & variables */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* navbar styles */

.navbar {
  background-color: #3b5998;
  border: 0;
  border-radius: 0;
    p {
      font-family: 'Noto Sans SC', sans-serif;
      font-size: 40px;
      color: white;
    }
}

/* image and button styles */

.col-sm-12 img {
  padding-top: 95px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// .btn {
//   margin-top: 30px;
//   margin-bottom: 25px;
//   width: 25%;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

/* sign up form */

.col-sm-12 h1 {
  text-align: center;
}
.col-sm-12 .btn {
  background-color: #dfe3ee;
  color: black;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-top: 30px;
  &:hover {
    background-color: #8b9dc3;
    color: white;
  }
}

/* miscellaneous */

.center {
  margin: 0 auto;
  padding-top: 100px;
  width: 35%;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

/* "made with <heart> by me" */

// #credits p {
//   padding-top: 0px;
//   text-align: center;
// }
// .glyphicon.glyphicon-heart {
//   color: red;
//   font-size: 14px;
// }
