<% unless current_user?(@wine.users.last) %>
  <div id="follow_form">
    <% if current_user.following?(@wine.users.last) %>
      <%= render 'users/unfollow_button' %>
    <% else %>
      <%= render 'users/follow_button' %>
    <% end %>
  </div>
<% end %>
<br></br>
