<% provide(:title, "Edit #{@wine.name}") %>

<div class="container-fluid center">
  <div class="row">
    <div class="col-sm-12">
      <h1>Edit <%= @wine.name %> </h1>
      <br></br>
      <%= render 'form' %>
    </div>
  </div>
</div>
