<% provide(:title, 'New Wine') %>

<div class="container-fluid center">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create a New Wine</h1>
      <br></br>
      <%= render 'form' %>
    </div>
  </div>
</div>
