<% @user ||= current_user %>
<div class="follows">
  <%= link_to following_user_path(@user) %>
    <strong id="following" class="follows">
      <%= @user.following.count %>
    </strong>
    following
  <%= link_to followers_user_path(@user) %>
    <strong id="followers" class="follows">
      <%= @user.followers.count %>
    </strong>
    followers
</div>
